amqp==5.3.1
annotated-types==0.7.0
asgiref==3.11.1
attrs==26.1.0
autobahn==24.4.2
Automat==25.4.16
billiard==4.2.4
boto3==1.42.73
botocore==1.42.73
cbor2==5.8.0
celery==5.6.2
certifi==2026.4.22
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.7
click>=8.0,<8.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
cron_descriptor==2.0.8
cryptography==46.0.5
daphne==4.2.1
dj-database-url==1.0.0
Django==4.2.24
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-cors-headers==4.4.0
django-ratelimit==4.1.0
django-rest-passwordreset==1.5.0
django-timezone-field==7.2.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
django-redis>=5.4.0,<7.0.0
drf-spectacular==0.29.0
google-ai-generativelanguage==0.6.10
google-api-core==2.30.3
google-api-python-client==2.194.0
google-auth==2.49.2
google-auth-httplib2==0.3.1
google-generativeai==0.8.3
googleapis-common-protos==1.74.0
grpcio==1.80.0
grpcio-status==1.71.2
gunicorn==23.0.0
httplib2==0.31.2
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
inflection==0.5.1
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
lxml==6.0.2
msgpack==1.1.2
packaging==26.0
pdf2image==1.17.0
pdfminer.six==20260107
pillow==12.1.1
prompt_toolkit==3.0.52
proto-plus==1.27.2
protobuf==5.29.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
PyJWT==2.12.1
pyOpenSSL==26.0.0
pyparsing==3.3.2
pytesseract==0.3.13
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.1
python-magic==0.4.27
PyYAML==6.0.3
redis==7.3.0
referencing==0.37.0
requests==2.33.1
rpds-py==0.30.0
s3transfer==0.16.0
sentry-sdk==2.58.0
service-identity==24.2.0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
Twisted==24.11.0
txaio==25.9.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
ujson==5.12.0
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
whitenoise==6.7.0
zope.interface==8.2
textract==2.0.0
